@tailwind base;
@tailwind components;
@font-face {
  font-family: "Pixel-Burguer";
  src: url(./assets/fonts/pixel_burguer/04B_30__.TTF) format("opentype");
}

@font-face {
  font-family: "Pixel-Mix";
  src: url(./assets/fonts/pixelmix/pixelmix.ttf) format("opentype");
}
@tailwind utilities;

@keyframes move {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px -10000px;
  }
}
